
<div class="container text-left">
  <div class="row row-cols-3">
{{#each machines}}
    <div idx="machine_{{id}}" class="col machine machine_{{id}}">
        <h2
            data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="Serial: {{id}}
            IP Address: {{ip}}">{{name}}</h2>
        <iframe src="http://127.0.0.1:8888/{{id}}" scrolling="no" width="100%" height="300"></iframe>
        <div class="status">
            <div class="container text-center icons">
                <div class="row">
                    <div class="col">
                        <div class="wrapper">
                            <img src="/img/bambu/monitor_bed_temp.svg" title="Bed Temperature"><br>
                            <span class="bed">0° C</span><br>
                            <span class="bed_target">0° C</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrapper">
                            <img src="/img/bambu/monitor_nozzle_temp.svg" title="Nozzle Temperature"><br>
                            <span class="nozzle">0° C</span><br>
                            <span class="nozzle_target">0° C</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrapper">
                            <img src="/img/bambu/monitor_frame_temp.svg" title="Chamber Temperature"><br>
                            <span class="chamber">0° C</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrapper">
                            <img src="/img/bambu/monitor_speed_active.svg" title="Speed"><br>
                            <span class="speed">Normal</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrapper">
                            <img src="/img/bambu/monitor_lamp_off.svg" title="Lamp" class="light"><br>
                            <span class="lamp_status">Off</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h4 class="task_name">None</h4>
                <div class="container text-left">
                <div class="row">
                    <div class="col">
                        <span class="remaining">n/a</span>
                    </div>
                    <div class="col text-end">
                        Layer <span class="active_layer">0</span> of <span class="total_layer_num">0</span>
                    </div>
                </div>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
            </div>
        </div>
        <div class="ams">
            {{#each ../ams}}
            <div class="ams_{{@key}} visually-hidden">
                <div class="title">AMS {{this}} <span class="temp"></span> <span class="humidity"><img src="/img/bambu/ams_humidity_0.svg"></span></div>
                <div class="container text-center">
                    <div class="row">
                    {{#each ../../trays}}
                    <div class="col tray tray_{{@key}}">
                        <span class="key">{{../this}}{{this}}</span>
                        <span class="name"></span><br>
                        <span class="color_box"><span class="color"></span></span>
                    </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
{{/each}}
  </div>
</div>
